body {
  padding-top: 70px;
}      
.pad-top {
  padding-top: 2.1em;
}
.pad-top-small {
  padding-top: 0.7em;
}
.footer {
  margin-top: 4em;
  padding-bottom: 6em;
  margin-bottom: 0;
}
.red-border {
  border: 1px solid #CC3232 !important;
}
.error {
  color: #ff0000;
}